[project]
name = "{{ project_name }}"
version = "{{ version }}"
{{ #if author }}authors = ["{{ author }}"]{{ /if }}
{{ #if description }}description = "{{ description }}"{{ /if }}
{{ #if license }}license = "{{ license }}"{{ /if }}
qi-version = "{{ qi_version }}"

[dependencies]

[features]
default = []
